/* stylesheet */

* {
  margin: 0;
  padding: 0;
  color: #f3f3fc;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3fc;
}

.calc-container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  border: 10px solid #1d1f63;
  padding: 5px;
  background-color: #3438b2;
}

.display {
  height: 80px;
  margin-bottom: 5px;
  border: 2px solid #1d1f63;
  font-size: 40px;
}

.input {
  height: 50px;
  margin-bottom: 5px;
  border: 2px solid #1d1f63;
  display: flex;
  align-items: center;
  padding-left: 3px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px);
  grid-template-areas:
    'number number number operator1'
    'number number number operator2'
    'number number number operator3'
    'number number number operator4'
    'clear . equals equals';
  grid-gap: 3px;
}

[class^='number-'],
[class^='operator-'],
.separator-decimal,
.del {
  border: 2px solid #1d1f63;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.operator-add {
  grid-area: operator1;
}

.operator-subtract {
  grid-area: operator2;
}

.operator-multiply {
  grid-area: operator3;
}

.operator-divide {
  grid-area: operator4;
}

.operator-equals {
  grid-area: equals;
}

.operator-clear {
  grid-area: clear;
  grid-column: 1 / span 2;
  grid-row: 5 / span 1;
}

[class^='number-']:active,
[class^='operator-']:active,
.separator-decimal:active,
.del:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 12px 1px rgba(0, 0, 0, 0.24);
  background-color: #4e4ccd;
}

.feedback {
  animation: press 0.1s 1;
}

@keyframes press {
  from {
    transform: scale (0.98);
  }
  to {
    transform: scale (0.58);
    box-shadow: 3px 2px 12px 1px rgba(0, 0, 0, 0.24);
    background-color: #4e4ccd;
  }
}
